@font-face {
    font-family: 'AvocadoDays';
    src: url(./fonts/Avocado\ Days\ 400.otf);
}
body {
    background-image: linear-gradient(rgb(178, 157, 255), rgb(255, 170, 250));
    margin: 0;
    font-family: 'AvocadoDays';
}

.main-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.controls-container {
    margin-top: 10px;
}

.header {
    font-size: 50px;
    margin: 25px;
    
}

.color-picker-text {
    display: inline;
}

.erase-reset-container {
    display: flex;
    justify-content: space-evenly;

}

button {
    font-family: 'AvocadoDays';
}
.grid-container {
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: repeat(16 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid #bfbfbf;
    margin: 0px;
    background-color: white;
}


